<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".api.AppBlockerActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:noHistory="true" />
    </application>
</manifest>